Source: lib765
Priority: extra
Maintainer: Stuart Brady <sdbrady@ntlworld.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2
Section: libs
Homepage: http://www.seasip.demon.co.uk/Unix/LibDsk/

Package: lib765-dev
Section: libdevel
Architecture: any
Depends: lib765-3 (= ${Source-Version})
Description: uPD 765 FDC emulation library (development)
 lib765 is a library that provides emulation of the uPD 765 floppy disk
 controller, for use in emulators.
 .
 This package contains development files that are needed to compile
 applications which require lib765.

Package: lib765-3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: uPD 765 FDC emulation library (development)
 lib765 is a library that provides emulation of the uPD 765 floppy disk
 controller, for use in emulators.
