Source: fuse-emulator-utils
Section: otherosfs
Priority: extra
Maintainer: Stuart Brady <sdbrady@ntlworld.com>
Build-Depends: debhelper (>= 5), autotools-dev, libspectrum-dev (>= 0.4.0), libaudiofile-dev
Standards-Version: 3.7.2
Homepage: http://fuse-emulator.sourceforge.net/
Vcs-Svn: https://fuse-emulator.svn.sourceforge.net/svnroot/fuse-emulator/trunk/fuse-utils
Vcs-Browser: http://fuse-emulator.svn.sourceforge.net/viewvc/fuse-emulator/trunk/fuse-utils/

Package: fuse-emulator-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ZX Spectrum-related utilities
 The Fuse utilities are a set of programs for the manipulation of ZX Spectrum
 related files, such as tape images and snapshots.
