Source: libdsk
Priority: extra
Maintainer: Stuart Brady <sdbrady@ntlworld.com>
Build-Depends: debhelper (>= 5), autotools-dev, zlib1g-dev, libbz2-dev
Standards-Version: 3.7.2
Section: libs
Homepage: http://www.seasip.demon.co.uk/Unix/LibDsk/

Package: libdsk-dev
Section: libdevel
Architecture: any
Depends: libdsk3 (= ${Source-Version})
Description: disk image library (development)
 LibDSK is a library that provides a common interface for accessing floppy
 disk images of varying formats.
 .
 This package contains development files that are needed to compile
 applications which require LibDSK.

Package: libdsk3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: disk image library (development)
 LIBDSK is a library that provides a common interface for accessing floppy
 disk images of varying formats.
