Source: fuse-emulator
Section: contrib/otherosfs
Priority: extra
Maintainer: Stuart Brady <sdbrady@ntlworld.com>
Build-Depends: debhelper (>= 5), autotools-dev, libspectrum-dev (>= 0.4.0), lib765-dev (>= 0.4.1), libdsk-dev (>= 1.2.0), libxml2-dev, libjsw-dev, libsamplerate0-dev, libpng12-dev, libasound2-dev, libgtk2.0-dev, libsdl1.2-dev, libx11-dev
Standards-Version: 3.7.2
Homepage: http://fuse-emulator.sourceforge.net/
Vcs-Svn: https://fuse-emulator.svn.sourceforge.net/svnroot/fuse-emulator/trunk/fuse
Vcs-Browser: http://fuse-emulator.svn.sourceforge.net/viewvc/fuse-emulator/trunk/fuse/

Package: fuse-emulator-common
Architecture: all
Description: ZX Spectrum emulator - common files
 Fuse is a ZX Spectrum emulator.  It emulates the original 16K, 48K, 128K,
 +2, +2A and +3 models, the Timex TC2048, TC2068 and TS2068, and several
 clones of the ZX Spectrum.
 .
 This package contains files common to all user interfaces, and includes the
 necessary (non-free) ROM images.

Package: fuse-emulator-gtk
Architecture: any
Depends: fuse-emulator-common (>= 0.9.0), ${shlibs:Depends}, ${misc:Depends}
Provides: fuse-emulator
Description: ZX Spectrum emulator (with GTK+ user interface)
 Fuse is a ZX Spectrum emulator.  It emulates the original 16K, 48K, 128K,
 +2, +2A and +3 models, the Timex TC2048, TC2068 and TS2068, and several
 clones of the ZX Spectrum.
 .
 This is the GTK+ version of Fuse.

Package: fuse-emulator-sdl
Architecture: any
Depends: fuse-emulator-common (>= 0.9.0), ${shlibs:Depends}, ${misc:Depends}
Provides: fuse-emulator
Description: ZX Spectrum emulator (with SDL user interface)
 Fuse is a ZX Spectrum emulator.  It emulates the original 16K, 48K, 128K,
 +2, +2A and +3 models, the Timex TC2048, TC2068 and TS2068, and several
 clones of the ZX Spectrum.
 .
 This is the SDL version of Fuse.

Package: fuse-emulator-x11
Architecture: any
Depends: fuse-emulator-common (>= 0.9.0), ${shlibs:Depends}, ${misc:Depends}
Provides: fuse-emulator
Description: ZX Spectrum emulator (with X11 user interface)
 Fuse is a ZX Spectrum emulator.  It emulates the original 16K, 48K, 128K,
 +2, +2A and +3 models, the Timex TC2048, TC2068 and TS2068, and several
 clones of the ZX Spectrum.
 .
 This is the X11 version of Fuse.
