#!/usr/bin/make -f
# -*- makefile -*-
# Created with the aid of dh_make.
# Borrows quite a bit from the Freeciv rules file.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


COMMON_CONFIG := --host=$(DEB_HOST_GNU_TYPE) \
		 --build=$(DEB_BUILD_GNU_TYPE) \
		 --prefix=/usr --mandir=\$${prefix}/share/man \
		 --infodir=\$${prefix}/share/info \
		 --datadir=\$${prefix}/share/fuse-emulator \
		 LDFLAGS="-Wl,-z,defs"

build: build-arch-gtk build-arch-sdl build-arch-x11 build-indep

build-arch-gtk: build-arch-gtk-stamp
build-arch-gtk-stamp:
	dh_testdir

	-rm -f config.sub config.guess
	ln -sf /usr/share/misc/config.sub config.sub
	ln -sf /usr/share/misc/config.guess config.guess

	mkdir build-gtk
	(cd build-gtk && 	\
	 ../configure $(COMMON_CONFIG) --with-gtk --without-sdl --without-fb \
		--without-x --without-svgalib --without-fb --without-win32 && \
	$(MAKE))

	touch build-arch-gtk-stamp

build-arch-sdl: build-arch-sdl-stamp
build-arch-sdl-stamp:
	dh_testdir

	-rm -f config.sub config.guess
	ln -sf /usr/share/misc/config.sub config.sub
	ln -sf /usr/share/misc/config.guess config.guess

	mkdir build-sdl
	(cd build-sdl && 	\
	 ../configure $(COMMON_CONFIG) --without-sdl --with-sdl --without-fb \
		--without-x --without-svgalib --without-fb --without-win32 && \
	$(MAKE))

	touch build-arch-sdl-stamp

build-arch-x11: build-arch-x11-stamp
build-arch-x11-stamp:
	dh_testdir

	-rm -f config.sub config.guess
	ln -sf /usr/share/misc/config.sub config.sub
	ln -sf /usr/share/misc/config.guess config.guess

	mkdir build-x11
	(cd build-x11 && 	\
	 ../configure $(COMMON_CONFIG) --without-gtk --without-sdl --with-x \
		--without-fb --without-svgalib --without-fb --without-win32 && \
	$(MAKE))

	touch build-arch-x11-stamp

build-indep: build-indep-stamp
build-indep-stamp:

	#$(MAKE) doc
	touch $@

clean:
	dh_testdir
	dh_testroot

	-rm -rf build-gtk build-sdl build-x11
	-rm -f install-stamp build-arch-gtk-stamp build-arch-sdl-stamp build-arch-x11-stamp build-indep-stamp 
	-rm -f config.cache
	-rm -f config.sub config.guess

	dh_clean

	-rm -f debian/*~ Makefile Makefile.bak core */Makefile

install: install-stamp
install-stamp: build-arch-gtk build-arch-sdl build-arch-x11

	dh_testdir
	dh_testroot
	dh_clean -k -i 
	dh_installdirs -i

	(cd build-gtk; $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install)
	mv debian/tmp/usr/bin/fuse debian/tmp/usr/bin/fuse-emulator-gtk
	mv debian/tmp/usr/share/man/man1/fuse.1 debian/tmp/usr/share/man/man1/fuse-emulator.1

	(cd build-sdl; $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install)
	mv debian/tmp/usr/bin/fuse debian/tmp/usr/bin/fuse-emulator-sdl

	(cd build-x11; $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install)
	mv debian/tmp/usr/bin/fuse debian/tmp/usr/bin/fuse-emulator-x11

	#INSTALLDOC#

	dh_install

	touch install-stamp

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i ChangeLog
	dh_installdocs -i
	dh_installexamples -i
	dh_installman -i
	dh_link -i
	dh_strip -i
	dh_compress -i 
	dh_fixperms -i
	dh_makeshlibs -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a ChangeLog
	dh_installdocs -a
	dh_installexamples -a
	dh_installman -a
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary
